.eo9XGd .IZ65Hb-TBnied {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.eo9XGd .IZ65Hb-s2gQvd {
    height: 100% !important;
    max-height: none !important;
    padding-bottom: 150px
}

.eo9XGd .IZ65Hb-QQhtn .IZ65Hb-TBnied .IZ65Hb-yePe5c {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(200,200,200,.75)
}

.eo9XGd .gkA7Yd-sKfxWe.rymPhb-IZ65Hb-gkA7Yd {
    padding-bottom: 200px;
}
