/* Note */
.IZ65Hb-n0tgWb.IZ65Hb-fbudBf.gkfs-fullscreen .IZ65Hb-TBnied {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Note Content */
.IZ65Hb-n0tgWb.IZ65Hb-fbudBf.gkfs-fullscreen .IZ65Hb-s2gQvd {
    height: 100% !important;
    max-height: calc(100% - 40px) !important; /* span content-area over whole note, minus the bottom toolbar */
}

/* Toolbar */
.IZ65Hb-n0tgWb.IZ65Hb-fbudBf.gkfs-fullscreen .IZ65Hb-TBnied .IZ65Hb-yePe5c {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Alerts - show over toolbar */
.IZ65Hb-n0tgWb.IZ65Hb-fbudBf.gkfs-fullscreen .Ng57nc.EfADOe.ti6hGc {
    position: relative;
}

/* TODO set up styling for button (icons) */
/* Fullscreen Toggle Button */
.IZ65Hb-n0tgWb .IZ65Hb-TBnied .IZ65Hb-yePe5c .gkfs-toggle {

}
.IZ65Hb-n0tgWb .IZ65Hb-TBnied .IZ65Hb-yePe5c .gkfs-toggle.active {

}
